<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="title">
      <h2><%= path.snippet %></h2>
      <div>Created by: <%= path.creator_id %></div>
      <div>Created on: <%= moment(new Date(path.creation_time_epoch)).format('Do MMMM, YYYY') %></div>
    </div>
    <div>
      <p>
        <img src="<%= locals.path.tenor_gif %>" width="400px">
      </p>
    </div>
    <div class="body">
      <p>
      <% var lines = path.body.split("\\n"); for (var i = 0; i < lines.length; i++) { %>
        <div><%= lines[i] %></div>
      <% } %>
      </p>
    </div>
    <div class="snippets">
      <form id="form" method="post" action="/path">
        <input type="hidden" name="name" value="<%= user %>">
        <input type="hidden" name="prev_id" value="<%= path._id %>">
        <% for (var i = 0; i < snippets.length; i++) { %>
          <input type="radio" id="rbtn<%= i %>" name="id" value="<%= snippets[i]._id %>" onclick="document.getElementById('form').submit();">
          <label for="rbtn<%= i %>"><%= snippets[i].snippet %></label><br>
        <% } %>
      </form>
    </div>
    <div>
      <p>
        <div>ID: <%= locals.path._id %></div>
        <div>You are <%= locals.user %></div>
      </p>
    </div>
  </body>
</html>
